html {
    font-family: 'Nunito';
}

body {
    background-color: #130f0d;
    color: white;
}

.boards {
    display: flex;
    justify-content: space-around;
    margin-top: 18vh;
    flex-wrap: wrap;
}

.board {
    background-color: rgb(27, 27, 27);
    border: 1px solid #8a2e0079;
    border-radius: 6px;
}

.board h3 {
    padding: 16px;
    margin: 0;
    color: #f3590cc0;
    font-weight: 900;
    opacity: initial;
}

.dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.card {
    padding: 16px;
    box-shadow: 0 2px 2px -1px #fd951fcc;
    border-radius: 10px;
    width: 250px;
    margin: 25px 0;
    font-weight: 600;
    font-size: 18px;
    background-color: #1a1a1c;
}

.card:hover {
    cursor: pointer;
    background-color: #232324;
}

.status {
    width: 30px;
    height: 8px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: black 2px solid;
}

.status.red {
    background-color: red;
}

.status.green {
    background-color: forestgreen;
}

.status.blue {
    background-color: rgb(52, 52, 233);
}


.highlight {
    background-color: #c5440423;
}

.card, .dropzone {
    transition: ease-in-out 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: rgba(157, 226, 19, 0.151);
    padding: 1.3em;
}

.ro {
    display: flex; 
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
}

.ro h2, h3{
    font-weight: 300;
    opacity: 0.2;
    display: block;
    position: absolute;
}

.ro h3 {
    margin-top: 10vh;
}
